@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --clr-prim: #ce7500;
  --clr-sec: #2DE049;
  --clr-ter: #1d0e3a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-ter);
  color: #eeeeee;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Tshirt estrazione */
/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap"); */

/* IMPREVISTO TIMBRO */
/* @import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
 */
/* Imprevisti della Community - Testo */
/* @import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");
 */
/* Titoli H1 */
/* @import url("https://fonts.googleapis.com/css2?family=Handlee&family=Paytone+One&display=swap");
 */
h1 {
  font-family: "Paytone One", sans-serif;
  font-size: clamp(1.2rem, 2.5vw, 3rem);
}

#login--theme > div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 60vh;
  border: 0.3rem solid var(--clr-ter);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
}

@media screen and (max-width: 767px) {
  #login--theme > div {
    width: 75vw;
    height: 70vh;
  }
}
